<!-- HEADER AND NAVBAR -->
<nav class="navbar navbar-default">
  <div class="container">

    <div class="navbar-header">
      <a class="navbar-brand" href="#" ui-sref="/">Cesar's Iron Work</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><a ui-sref="home" id="list" name="home"><i class="fa fa-home"></i> Home</a></li>
      <li><a ui-sref="about" id="list" name="about"><i class="fa fa-shield"></i> About</a></li>
      <li><a ui-sref="product" id="list" name="product"><i class="fa fa-picture-o"></i> Product</a></li>
      <li><a ui-sref="contact" id="list" name="contact"><i class="fa fa-comment"></i> Contact</a></li>
    </ul>

  </div>
</nav>