body {
    font-family : monospace;
    height: 100%;
}

#container.body-container {
    margin-left: 250px;
    transition: left 0.5s linear;
}

#footer {
    position: relative;
    bottom:0;
    width:100%;
    height:100px;   
    text-align: center;
}

nav {   
    width: 100%;
    position: fixed;
    top: 0;
}

.navbar-default {
    background-color: #004C00;
    border-color: #151515;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:hover {
    background-color: #003300;
    color: white;
}

.navbar-default #list {
    color: white;
}

.navbar-default #list:hover {
    background-color: #003300;
    color: white;
}

#sidebar {
    background-color: #004C00 ;
    width: 200px;
    height: 100%;
    display: block;
    position: absolute;
    top: 55px;
    left: -200px;
    transition: left 0.3s linear;
}

#sidebar.visible {
    left: 0px;
    transition: left 0.3s linear;
}

ul {
    margin: 0px;
    padding: 0px;
}

ul li {
    list-style: none;
}

#links {
    margin-left: 2px;
    margin-top: 2px;
    background: #003300;
    color: #fff;
    border-bottom: 1px solid #151515;
    display: block;
    width: 180px;
    padding: 10px;
}

#sidebar-btn {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 15px;
    cursor: pointer;
    position: absolute;
    top: 0px;
    right: -30px;
}

#sidebar-btn span {
    height: 1px;
    background-color: #111;
    margin-bottom: 5px;
    display: block;
}

#sidebar-btn span:nth-child(2) {
    width: 75%;
}

#sidebar-btn span:nth-child(3) {
    width: 50%;
}