<header>
  <!-- HEADER AND NAVBAR -->
  <nav class="navbar navbar-default">
    <div class="container">

      <div class="navbar-header">
        <a class="navbar-brand" href="/">Cesar's Iron Work</a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="#/home" name="home"><i class="fa fa-home"></i> Home</a></li>
        <li><a href="#/about" name="about"><i class="fa fa-shield"></i> About</a></li>
        <li><a href="#/product" name="product"><i class="fa fa-picture-o"></i> Product</a></li>
        <li><a href="#/contact" name="contact"><i class="fa fa-comment"></i> Contact</a></li>
      </ul>

    </div>
  </nav>
</header>