<div class="col-md-2" id="sidebar">
   <div class="sidebar">
      <ul>
        <li><a ui-sref="railing" name="railing"><i></i>Railing</a></li>
        <li><a ui-sref="window" name="window"><i></i>Window Guards</a></li>
        <li><a ui-sref="stair" name="stair"><i></i>Stairs</a></li>
        <li><a ui-sref="fence" name="fence"><i></i>Fences</a></li>
        <li><a ui-sref="cellar" name="cellar"><i></i>Cellar Doors</a></li>
        <li><a ui-sref="balconies" name="balconies"><i></i>Balconiess</a></li>
        <li><a ui-sref="fire" name="fire"><i></i>Fire Escapes</a></li>
        <li><a ui-sref="porch" name="porch"><i></i>Porchs</a></li>
      </ul>
    </div>
</div>